* {
    /*função reset*/
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(54,77,204);
    background: linear-gradient(176deg, rgba(54,77,204,1) 0%, rgba(19,35,124,1) 100%);
}

.avatar {
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white; /*horizontal - vertical - espalhamento - cor*/
    }

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
   font-size: 16px;
   }

.profile {
    margin-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around; /*só funciona com o flex*/
    list-style: none;
    margin: 20px 0;
}

.social img {
    width: 33px;
}

.links-list {
    list-style: none;
}

.links-list li {
    margin: 10px 20px
}

.links-list li a {
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none; /*serve apenas para remover o sublinhado abaixo do nome ou link*/
    color: rgb(54,77,204);
    font-weight: bold;
}

.links-list li a span { /*elementos "li" não tem comportamento de bloco e por isso dever ser usado o "display", sem isso o margin não funciona*/
    color: grey;
    display: block;
    margin-top: 10px;
}